.navheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: auto;
    margin: auto;
    padding: 20px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.footer {
    border: solid 3px;
}
